/* Pc */
@media (min-width: 1024px){
    .hidden-pc{
        display: none;
    }
}
/* Mobile and tablet*/
@media (max-width: 1023px){
    .hidden-mobile-tablet{
        display: none ;
    }
    :root{
        --header-height:80px;
        --navbar-height:0px;
    }
    .header{
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-list-product{
        position: fixed;
        top: var(--header-height);
        right: 0;
        width: 100%;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list-product::before{
        display: none;
    }
    .app__container{
        margin-top: calc((var(--header-height)) + (var(--header-sort-bar-height)) - 3%);
    }
    .header__sort-bar{
        display: flex;
    }
    .header__sort-link-active{
        color: var(--primary-color);
    }
    .header__sort-item-active{
        border-bottom: 2px solid var(--primary-color);
    }
    .footer__qr-code{
        margin-bottom: 10px;
    }
    .footer__heading{
        font-size: 1.4rem;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px){
    .hidden-tablet{
        display: none ;
    }
    .header__cart{
        width: 92px;
    }
}

/* mobile */
@media (max-width: 739px){
    .hidden-mobile{
        display: none ;
    }
    .header-with__search{
        z-index: 7;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-item-link{
        --height: 28px;
        min-width: 36px;
    }
    .app__content{
        margin: 0 4px;
    }
    .header__logo {
        width: 100%;
    }
    .header__search-icon{
        padding-left: 10px;
        padding-right: 0px;
    }
    .header__search__icon{
        width: 45px;
    }
    .header__search-selection{
        width: 112px;
    }
    .header__cart{
        margin-top: 11px;
        width: unset ;
        padding: 0 10px;
    }
    .header__search-mobile{
        z-index: 5;
        position: fixed;
        left: 0;
        right: 0;
        top: var(--header-height);
        height: 46px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.05);
        animation: mobileSearchSideIn linear 0.3s;
        display: none;
    }
    .header__search--tittle-wrap__search-history{
        position: fixed;
        margin: 0;
    }
    .header__search-checkbox:checked ~ .header__search-mobile {
        display: flex;
    }
    .header__mobile-nav{
        color: var(--white-color);
        font-size: 2.6rem;
        padding-right: 10px;
    }
    .header__nav-checkbox:checked ~ .nav__overlay{
        display: block;
    }
    .nav__overlay{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
        background-color: rgba(0, 0, 0 , 0.3);
        display: none;
    }
    .header__nav-checkbox:checked ~ .nav__overlay-content {
        transform: translateX(0%);
    }
    .nav__overlay-content{
       transform: translateX(-100%);
       background-color: var(--white-color);
       height: 100%;
       left: 0;
       width: 45%;
       max-width: 100%;
       bottom: 0;
       z-index: 11;
       position: fixed;
    }
    .nav__overlay-content-list{
        padding: 0;
        margin: 0;
       list-style: none ;
    }
    .nav__overlay-content-use-img{
        width: 40px;
    }
    .nav__overlay-content-use{
        text-align: center;
        display: block;
        margin-top: 20%;
        width: 100%;
    }
    .nav__overlay-content-list-item-link-back{
        font-size: 2.6rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .nav__overlay-content-list-item{
       width: 100%;
       padding: 12px 20px;
    }

    .nav__overlay-content-list-item-link{
        display: block;
        font-size: 1.4rem;
        font-weight: 400;
        text-decoration: none;
        color: var(--text-color);
    }
    .nav__overlay-content-use-checkbox:checked ~ .modal-content{
        display: flex;
    }
    @keyframes mobileSearchSideIn {
        from{
            opacity: 0;
            top:calc(var(--header-height) / 2) ;
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    @keyframes mobileSearchSideIn {
        from{
            opacity: 0;
            top:calc(var(--header-height) / 2) ;
        }
        to {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .app__content{
        padding-top: 23px;
    }
    .header__logo-img{
        width: 120px;
    }
    .footer{
        text-align: center;
    }
    .footer__list{
        display: inline-block;
    }
    .footer__list-item__link{
        text-align: center;
        display: flex;
    }
    .footer__download{
        display: inline-block;
    }
    .header__search--tittle-wrap__search-history{
        box-shadow: rgb(204, 204, 204) 0px 1px 0px;
        border-top:1px solid var( --border-color);
    }
    .footer__download-link{
        margin-top: 5px;
    }
    .footer__download-link-download{
        display: unset;
    }
    .footer__download-link-download:first-child{
        padding-right: 10px;
    }
}